.m-bg-medium-grey.l-text-center.l-medium-vertical-padding{data: {area: "connect_zone"}}
  .l-inline-block.l-smallest-side-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: @settings.stack_overflow, icon: "stack_overflow", target: "_blank"
  .l-inline-block.l-smallest-side-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: @settings.email, icon: "email_icon"
  .l-inline-block.l-smallest-side-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: @settings.github, icon: "github", target: "_blank"
  .l-inline-block.l-smallest-side-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: @settings.facebook, icon: "facebook"
  .l-inline-block.l-smallest-side-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: @settings.twitter, icon: "twitter", target: "_blank"
