.m-bg-medium-grey.l-text-center.l-medium-vertical-padding{data: {area: "connect"}}
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "stack_overflow"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "email"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "github"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "facebook"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "twitter"
