.m-bg-medium-grey.l-text-center.l-medium-vertical-padding{data: {area: "connect_zone"}}
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: "http://stackoverflow.com/users/3123370/milesstanfield", icon: "stack_overflow", target: "_blank"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: "mailto:miles@madebymiles.com", icon: "email"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: "https://github.com/milesstanfield", icon: "github", target: "_blank"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: root_path, icon: "facebook"
  .l-inline-block.l-circle-padding
    = render "shared/circle_button", color: "white", hover_color: "white", path: "https://twitter.com/milesua", icon: "twitter", target: "_blank"
