%nav.m-bg-blue.l-relative
  .l-max-content-width.l-horizontal-center.l-content-padding
    .l-relative.l-nav-height
      .l-height-100.l-hamburger-width.m-clickable.l-hide-on-tablet.l-hide-on-desktop.l-absolute.l-z-index-5.a-hover-opacity{data: {hook: "hamburger"}}
        .l-relative.l-height-100
          .hamburger.l-absolute-vertical-center

      = link_to root_path, class: "a-hover-opacity l-nav-logo-position l-absolute l-z-index-5" do
        .madebymiles_logo

      .l-relative.l-height-100
        .l-absolute.l-right.l-height-100{data: {name: "nav-tabs"}}
          .l-hide-on-mobile.l-inline-block.l-v-align-top.l-height-100
            - nav_tabs(@active_nav_tab).each do |tab|
              - if FeatureFlipper.active_names.include? tab.text
                = link_to tab.path, class: "l-nav-tab-padding l-height-100 l-inline-block a-hover-nav-tab" do
                  %div{class: "#{tab.classes} l-nav-tab-text" }
                    = tab.text

          - if FeatureFlipper.active_names.include? "search"
            = link_to "/search", class: "l-height-100 l-search-icon a-hover-opacity l-inline-block l-relative l-v-align-top" do
              .search_icon.l-absolute-center

  .l-hide-on-tablet
    .l-hide{data: {hook: "nav-menu"}}
      .col-1-2.l-nav-menu.l-top.l-absolute.m-bg-lightest-grey.l-z-index-10
        .l-max-content-width.l-horizontal-center.m-bold.m-medium
          - all_tabs(@active_nav_tab).each do |tab|
            - if FeatureFlipper.active_names.include? tab.text
              = link_to tab.path do
                .a-hover-bg-dark-blue.l-block.l-small-vertical-padding.l-content-padding.m-color-blue= tab.text
              = render "shared/line", color_class: "m-bg-dark-blue"
