.m-bg-dark-grey{data: {area: "splash"}}
  .l-max-content-width.l-horizontal-center.l-content-padding.l-large-vertical-padding
    .col-1-1.col-1-2-med.m-font-largest.m-font-bold.m-color-white.l-v-align-middle.l-relative.l-mobile-medium-bottom-margin
      - ["DEVELOPER", "DESIGNER", "TEACHER"].each do |word|
        .l-block= word
      .m-bg-orange.l-line-width.l-height-100.l-absolute.l-right.l-top.l-hide-on-mobile
    .col-1-1.col-1-2-med.l-text-center
      .col-1-1.col-2-3-med.l-v-align-middle
        .m-font-medium.m-font-thin.m-color-light-grey.l-text-left
          = "When I'm not writing tests, refactoring code, teaching Ruby on Rails or building websites ... I'm dreaming up ways to change the world through code."


- if FeatureFlipper.active_names.include? "about"
  = render layout: "shared/section", locals: {name: "about", path: "/about", button_text: "more about me"} do
    .l-about-head
      .about_head.l-horizontal-center
      .l-text-center.m-font-small.m-font-thin.m-color-dark-grey.l-small-top-margin= "Miles Stanfield"
    .m-font-medium.m-font-thin.m-color-dark-grey.l-about-text-margin
      = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing"


- if FeatureFlipper.active_names.include? "tutorials"
  = render layout: "shared/section", locals: {name: "tutorials", path: "/posts/tutorials", button_text: "more tutorials"} do
    = render "shared/post_cards", posts: @tutorial_posts


- if FeatureFlipper.active_names.include? "blog"
  = render layout: "shared/section", locals: {name: "blog", path: "/posts/blog", button_text: "more blog posts"} do
    = render "shared/post_cards", posts: @blog_posts
