.m-bg-dark-grey{data: {area: "splash"}}
  .l-max-content-width.l-horizontal-center.l-content-padding.l-large-vertical-padding.columns
    .col-1-1.col-1-2-med.m-largest.m-bold.m-color-white.l-v-align-middle.l-relative.l-mobile-medium-bottom-margin
      - ["DEVELOPER", "DESIGNER", "TEACHER"].each do |word|
        .l-block= word
      .m-bg-orange.l-line-width.l-height-100.l-absolute.l-right.l-top.l-hide-on-mobile
    .col-1-1.col-1-2-med.l-v-align-middle
      .col-1-12-med.l-hide-on-mobile
      .col-1-1.col-10-12-med
        .m-medium.m-thin.m-color-light-grey
          = "When I'm not writing tests, refactoring, teaching, designing or developing websites...I'm dreaming up ways to change the world through creating coding."
      .col-1-12-med.l-hide-on-mobile


- if FeatureFlipper.active_names.include? "about"
  = render layout: "shared/section", locals: {name: "about", path: "/about", button_text: "more about me"} do
    .l-medium-bottom-margin
      .gutters.columns
        .col-1-1.col-1-5-med.l-v-align-top.l-text-center
          .about_head.l-inline-block
          .m-small.m-thin.m-color-dark-grey.l-small-top-margin.l-medium-bottom-margin= "Miles Stanfield"
        .col-1-1.col-4-5-med.l-v-align-top
          .m-medium.m-thin.m-color-dark-grey
            .l-inline= "Everyday I'm immersed in code. I love it. And what's even better is I get paid to it. Currently, I'm the Data Manager for HLN - A Time Warner Company, in Atlanta, GA. One of my main responsibilities as Data Manager is continually improving and maintaining a product I developed called"
            = inline_link "The HLN Social Index", "http://www.hlntv.com/hln-index/embed", target: "_blank"
            .l-inline="which is a proprietary trending algorithm that aggregates data from Facebook, Twitter and Google into a real-time all-screens experience. It's promoted on TV every weekday on HLN and it also won a"
            = inline_link "2016 CES Innovation Award.", "http://www.cesweb.org/Events-Programs/Innovation", target: "_blank"
            %br
            %br
            .l-inline="As the developer who built nearly all the front-end for the"
            = inline_link "HLNtv.com", "http://www.hlntv.com/", target: "_blank"
            .l-inline="site, I also find myself from time-to-time providing support on that project but my primary role is to continue innovating, designing and developing new products to better our company's brand."


- if FeatureFlipper.active_names.include? "tutorials"
  = render layout: "shared/section", locals: {name: "tutorials", path: "/posts/tutorials", button_text: "more tutorials"} do
    = render "shared/post_cards", posts: @tutorial_posts


- if FeatureFlipper.active_names.include? "portfolio"
  = render layout: "shared/section", locals: {name: "portfolios", path: "/portfolios", button_text: "more of my portfolio"} do
    = render "shared/portfolio_cards", portfolios: @portfolios


- if FeatureFlipper.active_names.include? "blog"
  = render layout: "shared/section", locals: {name: "blog", path: "/posts/blog", button_text: "more blog posts", line_off: true} do
    = render "shared/post_cards", posts: @blog_posts
