.l-max-content-width.l-horizontal-center.l-content-padding{data: {area: "hero"}}
  .columns.gutters
    .l-large-vertical-padding
      .col-1-1.col-5-8-lrg.l-v-align-top
        %h1.m-larger.m-color-dark-grey.m-bold.l-medium-bottom-margin= @presented_post.title
        .l-block
          .l-inline-block.avatar_head.l-v-align-middle.l-small-margin-right
          .l-inline-block.l-smallest-padding.m-small.m-color-dark-grey.l-v-align-middle
            .l-block.m-thin= "Miles Stanfield"
            .l-block
              .l-inline.m-bold= "Updated:"
              .l-inline.m-thin= @presented_post.updated_at

      .col-1-1.col-3-8-lrg.l-v-align-top.m-debug

    .l-large-vertical-padding
      .m-medium.m-bold.m-color-dark-grey
        = @presented_post.markdown_body
