.m-bg-white.l-medium-bottom-margin{data: {name: "work-card"}}
  .col-1-1.col-1-3-med.l-v-align-top.l-relative
    .l-hide-on-mobile
      .l-absolute-horizontal-center.l-medium-padding
        .m-color-dark-grey.m-font-large.m-font-bold= company
        .m-color-medium-grey.m-font-medium.m-font-thin= time
  .col-1-1.col-2-3-med.l-v-align-top.m-color-dark-grey.l-relative
    .m-bg-medium-grey.l-line-width.l-height-100.l-absolute.l-top.l-hide-on-mobile
    .l-medium-padding
      .l-hide-on-tablet.l-hide-on-desktop
        .l-inline-block.m-color-dark-grey.m-font-medium.m-font-bold.l-small-margin-right= company
        .l-inline-block.m-color-medium-grey.m-font-small.m-font-thin= time
      .m-font-large.m-font-bold= title
      .m-font-medium.m-font-thin= description