.l-max-content-width.l-horizontal-center.l-content-padding{data: {area: "splash"}}
  .l-large-vertical-padding
    .col-1-1.col-1-3-med.l-v-align-middle.l-text-center
      = image_tag "large_profile_head.png", class: "l-large-profile-head-height"
      .m-font-medium.m-font-bold.m-color-dark-grey.l-small-top-margin.l-mobile-medium-bottom-margin
        = "Miles Stanfield"
    .col-1-1.col-2-3-med.l-v-align-middle
      .m-font-large.m-font-thin.m-color-dark-grey.l-medium-bottom-margin
        = "A Ruby-on-Rails Developer with a background in design, living/working in Atlanta, GA"
      .m-font-medium.m-font-thin.m-color-dark-grey
        = "Code review and refactoring in an agile environment is by far my favorite aspect of being a developer because I get to teach others how to improve their code and learn new ways to improve my own."
  = render "shared/line"


= render layout: "shared/section", locals: {name: "background", button_off: true} do
  .m-font-thin.m-font-medium.l-medium-bottom-margin.m-color-dark-grey
    = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing"
  .m-font-thin.m-font-medium.m-color-dark-grey
    = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing"


= render layout: "shared/section", locals: {name: "skills", button_off: true} do
  .gutters
    .col-1-1.col-2-5-med.l-v-align-top
      .m-font-medium.m-font-thin.m-color-dark-grey
        = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley"
    .col-1-1.col-3-5-med.l-v-align-top.l-small-top-margin
      = render "bar", percentage: "98", name: "HTML / HAML"
      = render "bar", percentage: "93", name: "Ruby on Rails"
      = render "bar", percentage: "85", name: "Javascript & jQuery"
      = render "bar", percentage: "93", name: "Rspec & Capybara TDD"
      = render "bar", percentage: "77", name: "Coffeescript"
      = render "bar", percentage: "97", name: "CSS / SASS"
      = render "bar", percentage: "95", name: "Photoshop & Illustrator"
      = render "bar", percentage: "83", name: "Postgresql / ActiveRecord"



= render layout: "shared/section", locals: {name: "experience", button_off: true} do
  .gutters.m-color-dark-grey
    = render "work_card", title: "Graphic Designer", company: "HLN", time: "2009 - 2012", description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the"
    = render "work_card", title: "Vizrt Engineer", company: "HLN", time: "2012 - 2014", description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard"
    = render "work_card", title: "Data Manager", company: "HLN", time: "2014 - 2016", description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum has been the industry's standard"



= render layout: "shared/section", locals: {name: "education", button_off: true} do
  .l-text-center.m-color-dark-grey
    = image_tag "u_of_a_logo.png", class: "l-school-logo-height l-small-top-margin l-medium-bottom-margin"
    .m-font-large.m-font-bold
      = "University of Alabama"
    .m-font-medium.m-font-thin
      .l-block= "Bachelor of Fine Arts (B.F.A.)"
      .l-block= "2009 Alumni"


= render layout: "shared/section", locals: {name: "testimonials", button_off: true} do
  .gutters
    - 3.times do
      .col-1-3.l-medium-bottom-margin{data: {name: "testimonial"}}
        .l-medium-padding.m-bg-light-grey.m-color-dark-grey
          .m-font-bold.m-font-large
            = "David Horslev"
          .m-font-thin
            .m-font-small.l-medium-bottom-margin= "Executive Creative Director | HLN"
            .m-font-medium= "I left my full-time job mid-2015 to focus on the thing that makes me happiest: helping people share their passions. Despite the fact that I was working on extracurricular projects during weekends and late at night, I always thought"
