.l-max-content-width.l-horizontal-center.l-content-padding{data: {area: "splash"}}
  .l-large-vertical-padding.columns
    .col-1-1.col-1-3-med.l-v-align-middle.l-text-center
      = image_tag "large_profile_head.png", class: "l-large-profile-head-height"
      .m-medium.m-bold.m-color-dark-grey.l-small-top-margin.l-mobile-medium-bottom-margin
        = "Miles Stanfield"
    .col-1-1.col-2-3-med.l-v-align-middle
      .m-large.m-thin.m-color-dark-grey.l-medium-bottom-margin
        = "A Software Developer with a background in design, living/working in Atlanta, GA"
      .m-medium.m-thin.m-color-dark-grey
        = "Code review and refactoring in an agile environment is by far my favorite aspect of being a developer because I get to teach others how to improve their code and learn new ways to improve my own."
  = render "shared/line"


= render layout: "shared/section", locals: {name: "background", button_off: true} do
  .m-thin.m-medium.l-medium-bottom-margin.m-color-dark-grey
    = "I started out as a painter, not a great one but with a fine arts degree I learned good design principles. That helped me get a job right as a graphic designer working at CNN International and then subsequently working at HLN."
  .m-thin.m-medium.l-medium-bottom-margin.m-color-dark-grey
    .l-inline= "Years later I was immersed in specialized 3d animating software called"
    = inline_link "Vizrt", "http://www.vizrt.com/", target: "_blank"
    .l-inline= "which happened to require a lot of programming knowledge to make the most of it. From that point on, I was all developer."
  .m-thin.m-medium.l-medium-bottom-margin.m-color-dark-grey
    .l-inline= "I quickly gravitated towards front-end development because of my strong design background. Needless to say, CSS became my life. I started aimlessly developing PHP and Flash websites for work without any framework or guidance and then I got solid, on-the-job Ruby on Rails training everyday from a veteran"
    = inline_link "Pivotal labs", "http://pivotal.io/labs", target: "_blank"
    .l-inline= "programmer."
  .m-thin.m-medium.l-medium-bottom-margin.m-color-dark-grey
    .l-inline= "Years later, I'm definitely one of those developers preaching convention over configuration and saying"
    .m-bold= "did you write a test for that?"



= render layout: "shared/section", locals: {name: "skills", button_off: true} do
  .gutters.columns
    .col-1-1.col-1-3-med.l-v-align-top
      .m-medium.m-thin.m-color-dark-grey
        = "I've had the opportunity to work with many languages and technologies in my career. Here are the ones that I use on a regular basis and also how strong & knowledgable I am at each of them."
    .col-1-1.col-2-3-med.l-v-align-top.l-small-top-margin
      = render "bar", percentage: "98", name: "HTML / HAML"
      = render "bar", percentage: "93", name: "Ruby on Rails"
      = render "bar", percentage: "85", name: "Javascript & jQuery"
      = render "bar", percentage: "93", name: "Rspec & Capybara TDD"
      = render "bar", percentage: "78", name: "AngularJS"
      = render "bar", percentage: "66", name: "Coffeescript"
      = render "bar", percentage: "97", name: "CSS / SASS"
      = render "bar", percentage: "95", name: "Photoshop & Illustrator"
      = render "bar", percentage: "54", name: "Swift / Xcode"
      = render "bar", percentage: "83", name: "Postgresql / ActiveRecord"


= render layout: "shared/section", locals: {name: "education", button_off: true, line_off: true} do
  .l-text-center.m-color-dark-grey
    = image_tag "u_of_a_logo.png", class: "l-school-logo-height l-small-top-margin l-medium-bottom-margin"
    .m-large.m-bold
      = "University of Alabama"
    .m-medium.m-thin= "Bachelor of Fine Arts (B.F.A.)"



.m-bg-dark-blue
  = render layout: "shared/section", locals: {name: "work", button_off: true, color: "white", line_off: true} do
    .gutters.columns

      = render layout: "about/work_card", locals: {title: "Senior Software Engineer", company: "CallRail", time: "2016 - present"} do
        %ul
          %li= "Build, test and deploy software with Angular, SASS, Ruby-on-Rails and Postgresql"
          %li= "Collaborate with other engineers to identify and correct performance bottlenecks"
          %li= "Work closely with product team to identify feature requirements and potential obstacles"
          %li= "Introduce company's first feature/integration specs respecting Angular front-end data binding"
          %li= "Assist dev-ops in cuttting continuous deployment build-time in half"

      = render layout: "about/work_card", locals: {title: "Software Developer", company: "HLNtv.com", time: "2014 - 2016"} do
        %ul
          %li
            .l-inline= "Developed HLN’s award-winning social media trending algorithm"
            = inline_link "The HLN Social Index", "/portfolios/2016/01/25/hln-social-index"
          %li
            .l-inline= "Developed nearly all front-end code for the company’s website"
            = inline_link "HLNtv.com", "http://www.hlntv.com/", target: "_blank"
          %li
            .l-inline= "Developed a web-based mobile application/game"
            = inline_link "namethistweet.com", "/portfolios/2016/01/23/name-this-tweet"
          %li
            .l-inline= "Developed an API to feed data and control multiple Art Installations on the CNN tour in Atlanta, GA"
            = inline_link "HLN's data-driven art installations", "https://www.youtube.com/watch?v=TSdq98QmgLM", target: "_blank"
          %li= "Taught Rails conventions and industry standard development practices, especially TDD"
          %li= "Agile work environment with code review, retrospectives, backlog and prioritization sessions"


      = render layout: "about/work_card", locals: {title: "Designer / Developer", company: "HLN", time: "2012 - 2014"} do
        %ul
          %li
            .l-inline= "Developed user-interface programs to customize "
            = inline_link "Vizrt", "http://www.vizrt.com/", target: "_blank"
            .l-inline= "3d motion graphics"
          %li= "Developed tests for engineering and control rooms to run for quality control of on-air graphics"
          %li= "Created and lead training sessions on proper execution of software for high-profile TV events"
          %li= "Created and developed the department’s internal website for serving graphic elements and guides"

      = render layout: "about/work_card", locals: {title: "Graphic Designer", company: "HLN", time: "2009 - 2012"} do
        %ul
          %li= "Designed and animated a wide variety of elements for TV and promotional material"
          %li= "Taught Adobe Suite design software to other designers"
          %li= "Met with project stakeholders to discuss their needs, objectives and desired timetables"
          %li= "Provided graphics support for websites, social media, presentations and logos"

      = render layout: "about/work_card", locals: {title: "Freelance Graphic Designer", company: "CNNi", time: "2009"} do
        %ul
          %li= "Designed and animated a wide variety of elements for TV and promotional material"

      = render layout: "about/work_card", locals: {title: "Intern Graphic Designer", company: "CNNi", time: "2009"} do
        %ul
          %li= "Designed and animated a wide variety of elements for TV and promotional material"


- if FeatureFlipper.active_names.include? "testimonials"
  = render layout: "shared/section", locals: {name: "testimonials", button_off: true} do
    .gutters.columns
      - 3.times do
        .col-1-1.col-1-3-lrg.l-medium-bottom-margin{data: {name: "testimonial"}}
          .l-medium-padding.m-bg-light-grey.m-color-dark-grey
            .m-bold.m-large
              = "David Horslev"
            .m-thin
              .m-small.l-medium-bottom-margin= "Executive Creative Director | HLN"
              .m-medium= "I left my full-time job mid-2015 to focus on the thing that makes me happiest: helping people share their passions. Despite the fact that I was working on extracurricular projects during weekends and late at night, I always thought"
