- if flash[:notice].present?
  .m-bg-red
    .l-max-content-width.l-horizontal-center.l-content-padding.l-small-vertical-padding
      .m-thin.l-width-100.m-large.m-color-white= flash[:notice]

.m-bg-light-grey
  .l-max-content-width.l-horizontal-center.l-content-padding.l-large-vertical-padding
    .l-medium-bottom-margin.m-larger.m-bold.m-color-dark-grey= "Contact me"
    .columns.gutters
      .col-1-1.col-5-8-med.l-v-align-top.m-thin
        = semantic_form_for @message do |f|
          = f.inputs do
            = f.input :sender_name, placeholder: "Name", maxlength: 254, input_html: {class: "l-medium-bottom-margin l-width-100 l-pad-fix m-medium l-smallest-padding m-color-dark-grey"}
            = f.input :sender_email, placeholder: "Email Address", maxlength: 254, input_html: {class: "l-medium-bottom-margin l-width-100 l-pad-fix m-medium l-smallest-padding m-color-dark-grey"}
            = f.input :subject, placeholder: "Subject / Topic", maxlength: 254, input_html: {class: "l-medium-bottom-margin l-width-100 l-pad-fix m-medium l-smallest-padding m-color-dark-grey"}
            = f.input :body, placeholder: "Your message or question", maxlength: 65535, input_html: {class: "l-medium-bottom-margin l-width-100 l-pad-fix m-medium l-smallest-padding m-color-dark-grey l-form-body-height"}
          = f.actions do
            = f.action :submit, label: "Submit", button_html: {class: "m-clickable m-color-blue m-button-stroke-blue m-bg-light-grey m-medium m-bold l-button-padding a-hover-bg-blue"}
      .col-1-1.col-3-8-med.l-v-align-top
        .m-bold.m-medium.m-color-dark-grey.l-medium-bottom-margin= "You can contact me using this form, alternatively you can use any of these methods below."

        .col-1-1.l-medium-bottom-margin
          .l-inline-block.l-circle-padding.l-v-align-middle
            = render "shared/circle_button", color: "blue", hover_color: "white", path: @settings.stack_overflow, icon: "stack_overflow_blue", target: "_blank"
          .l-inline-block.m-bold.m-small.m-color-dark-grey.l-v-align-middle= "Stack Overflow"

        .col-1-1.l-medium-bottom-margin
          .l-inline-block.l-circle-padding.l-v-align-middle
            = render "shared/circle_button", color: "blue", hover_color: "white", path: @settings.email, icon: "email_icon_blue", target: "_blank"
          .l-inline-block.m-bold.m-small.m-color-dark-grey.l-v-align-middle= "Email"

        .col-1-1.l-medium-bottom-margin
          .l-inline-block.l-circle-padding.l-v-align-middle
            = render "shared/circle_button", color: "blue", hover_color: "white", path: @settings.github, icon: "github_blue", target: "_blank"
          .l-inline-block.m-bold.m-small.m-color-dark-grey.l-v-align-middle= "Github"

        .col-1-1.l-medium-bottom-margin
          .l-inline-block.l-circle-padding.l-v-align-middle
            = render "shared/circle_button", color: "blue", hover_color: "white", path: @settings.facebook, icon: "facebook_blue", target: "_blank"
          .l-inline-block.m-bold.m-small.m-color-dark-grey.l-v-align-middle= "Facebook"

        .col-1-1.l-medium-bottom-margin
          .l-inline-block.l-circle-padding.l-v-align-middle
            = render "shared/circle_button", color: "blue", hover_color: "white", path: @settings.twitter, icon: "twitter_blue", target: "_blank"
          .l-inline-block.m-bold.m-small.m-color-dark-grey.l-v-align-middle= "Twitter"

