%footer.m-bg-dark-grey
  .m-font-small.l-large-vertical-padding.l-text-center
    .l-medium-bottom-margin
      - Navigation.footer_tabs.each do |tab|
        = link_to tab.path, class: "l-nav-tab-padding l-inline-block" do
          %div{class: Navigation.tab_classes(controller, tab.text)}
            = tab.text

    .l-inline.m-color-medium-grey.m-font-thin= "This site was designed and "
    .l-inline.m-color-white.m-font-bold= "MadeByMiles"
    .m-font-bold.m-color-darkest-grey.l-small-top-margin= "© 2015 MadeByMiles.com"