!!!
%html
  %head
    %title="MadeByMiles | #{@title_tag}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "favicon.ico.png"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    - @meta_tags.each do |meta_tag_record|
      = meta_tag(meta_tag_record)
  %body
    = render "shared/nav"
    .l-relative.l-width-100
      = render "shared/content_shade"
      = yield
      = render "shared/connect_zone"
      = render "shared/footer"

    :javascript
      new Hamburger
