!!!
%html
  %head
    %title="MadeByMiles | #{@title_tag}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "favicon.ico.png"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{property: "og:url", content: request.url}
    %link{property: "canonical", href: request.url}
    - (@meta_tags || []).each do |meta_tag_record|
      = meta_tag(meta_tag_record)
  %body
    = render "shared/facebook_sdk"
    = render "shared/nav"
    .l-relative.l-width-100
      = render "shared/content_shade"
      = yield
      = render "shared/connect_zone"
      = render "shared/footer"

    :javascript
      new Hamburger
    - if user_signed_in? && params[:form-test].nil?
      %script(src="http://swappy.test/companies/472516365/552ad5493599a664f3ee/12/swap.js")
