!!!
%html
  %head
    %title="MadeByMiles | #{@title_tag}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "favicon.ico.png"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body
    = render "shared/nav"
    = yield
    = render "shared/connect_zone"
    = render "shared/footer"
