!!!
%html
  %head
    = title_tag(controller)
    = cloud_font_stylesheet
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "favicon.ico.png"
    = csrf_meta_tags
  %body
    = render "layouts/nav"
    = yield